<%= error_messages_for(@appointment) %>
<div class="container-fluid">
  <div>
    <p>Customer Name</p>
    <div class="form-group">
      <%= f.label(:customer_first_name, "First") %>
      <%= f.text_field(:customer_first_name, :class => 'appointment form-control') %>
    </div>
    <div class="right form-group">
    	<%= f.label(:customer_last_name, "Last") %>
    	<%= f.text_field(:customer_last_name, :class => 'appointment form-control') %>
    </div>
  </div>

  <hr />

  <div>
    <p>Date and time</p>
    <div class="form-group">
      <%= f.datetime_select(:datetime, :minute_step => 15, :class => 'appointment form-control') %> 
    </div>
  </div>

  <hr />

  <div>
    <p>Job Information</p>
      <%= f.label(:type) %>
      <%= f.select(:type, options_for_select(['Local','LongDistance','Labor'], 1), :class => 'appointment form-control') %>
    <div class="form-group">
      <%= f.label(:job_size) %>
      <%= f.select(:job_size, %w[2 3 4 5 6 7], :class => 'appointment form-control') %>
    </div>
    <div class="form-group">
      <%= f.label(:estimated_time) %>
      <%= f.text_field(:estimated_time, :class => 'appointment form-control') %>
    </div>
    <div class="form-group">
      <%= f.label(:status) %>
      <%= f.select(:status, %w[active inactive], :class => 'appointment form-control') %>
    </div>
    <div class="form-group">
      <%= f.label(:actual_time) %>
      <%= f.text_field(:actual_time, :class => 'appointment form-control') %>
    </div>
  </div>

  <hr />

  <div>
    <p>Address</p>
    <div class="form-group">
      <%= f.label(:street_address) %>
      <%= f.text_field(:street_address, :class => 'appointment form-control') %>
    </div>
    <div class="form-group">
      <%= f.label(:city) %>
      <%= f.text_field(:city, :class => 'appointment form-control') %>
    </div>
    <div class="form-group">
      <%= f.label(:state) %>
      <%= f.text_field(:state, :class => 'appointment form-control') %>
    </div>
    <div class="form-group">
      <%= f.label(:zip) %>
      <%= f.text_field(:zip, :class => 'appointment form-control') %>
    </div>
  </div>

  <hr />

  <div>
    <p>Contact Information</p>
    <div class="form-group">
      <%= f.label(:email) %>
      <%= f.email_field(:email, :class => 'appointment form-control', :placeholder => 'Email') %>
    </div>
    <div class="form-group">
      <%= f.label(:phone_number) %>
      <%= f.text_field(:phone_number, :class => 'appointment form-control') %>
    </div>
  </div>

  <hr />

  <div>
    <p>Notes</p>
    <div class="form-group">
      <%= f.text_area(:notes, :size => '30x5', :class => 'appointment form-control') %>
    </div>
  </div>
</div>